{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" onclick="check_author(event)" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-edit">수정 </span></a>
        <a class="btn btn-default" onclick="check_author2(event)" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove">삭제 </span></a>
        <h2 style="color : black">{{ post.title }}</h2>
        <hr>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">댓글 달기</a>
    {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
                    <a class="btn btn-default" onclick="check_comment_author(event, '{{ comment.author.username }}')" href="{% url 'comment_edit' pk=comment.pk %}"><span class="glyphicon glyphicon-edit">수정 </span></a>
                    <a class="btn btn-default" onclick="check_comment_author2(event, '{{ comment.author.username }}')" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove">삭제 </span></a>
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <p>아직 댓글이 없습니다.</p>
    {% endfor %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    function check_author(e) {
        if ( "{{ request.user.username }}" != "{{ post.author.username }}"){
            alert("수정 권한이 없습니다!");
            e.preventDefault();
            return false;
        } else {
            return true;
        }
    }

    function check_author2(e){
        if("{{  request.user.username }}" != "{{ post.author.username }}"){
            alert("삭제 권한이 없습니다!");
            e.preventDefault();
            return false;
        } else{
            if(confirm("삭제 하시겠습니까?") == true) {
                alert("삭제 완료!");
                return true;
            } else{
                e.preventDefault();
                return false;
            }
        }
    }

    function check_comment_author(e, author_name) {
        if ( "{{ request.user.username }}" !== author_name){
            alert("수정 권한이 없습니다!");
            e.preventDefault();
            return false;
        } else {
            return true;
        }
    }

    function check_comment_author2(e, author_name){
        if("{{  request.user.username }}" !== author_name){
            alert("삭제 권한이 없습니다!");
            e.preventDefault();
            return false;
        } else{
            if(confirm("삭제 하시겠습니까?") == true) {
                alert("삭제 완료!");
                return true;
            } else {
                e.preventDefault();
                return false;
            }
        }
    }

</script>
{% endblock %}